{% load mathfilters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product detials</title>
</head>
<body>
    <table border="1" cellpadding="5" align="center">
        <tr>
            {% for i in data %}
            <td>
                <p><img src="{{i.product.product_photo.url}}" alt="product photo" height="200" width="200"></p> <!--Image-->
                <p>{{i.product.product_name}}</p> 
                <p>{{i.cart_quantity}}</p>
                
                <p>{{i.product.scategory.scategory_name}}</p>
                <p>{{i.cart_quantity|mul:i.product.product_price}}</p> 
                {% if i.cart_status != "5" %}     
                <p><a style="color: black;" href="{% url 'webuser:CancelProduct' i.id %}">Cancel Product</a></p>
                {% endif %}
                {% if i.cart_status == "2" %}
                <p>Packed</p>
                {% elif i.cart_status == "3" %}
                <p>Shipped</p>
                {% elif i.cart_status == "4" %}
                <p style="color: rgb(3, 233, 118);">Item deliverd</p>
                {% elif i.cart_status == "5" %}
                <p style="color: rgb(220, 11, 11);">Item Canceld </p>
                {% else %}
                <p style="color: rgb(41, 14, 246);">Item In Process</p>
                {% endif %}
            </td>
            {% if forloop.counter|divisibleby:4 %}
            </tr><tr>
            {% endif %}
            {% endfor %}
        </tr>
    </table>
</body>

    </html>