<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td>#</td>
            <td>Details</td>
            <td>Amount</td>
            <td>Action</td>
        </tr>
        {% for i in pack %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.subscription_details}}</td>
            <td>{{i.subscription_amount}}</td>
            <td><a href="{% url 'webuser:subscribepayment' i.id cid %}">Subscribe</a></td>
        </tr>
        {% endfor %}
    </table>
    {% if msg %}
    <script>
        alert("{{msg}}")
        window.location = "{% url 'webuser:subscribe' cid %}"
    </script>
    {% endif %}
</body>
</html>