{% extends 'Shop/header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>
<body>
    <form method="POST" action="">
        {% csrf_token %}
        <table border="3" align="center">
            <th colspan="2" align="center">Change Password</th>
            <tr>
                <td>
                    Old Password:
                </td>
                <td>
                    <input type="password" name="txt_opassword" id="txt_opassword" placeholder="Enter your old Password">
                </td>
            </tr>
            <tr>
                <td>
                    New Password:
                </td>
                <td>
                    <input type="password" name="txt_npassword" id="txt_npassword" placeholder="Enter new password">
                </td>
            </tr>
            <tr>
                <td>
                    Confirm password:
                </td>
                <td>
                    <input type="password" name="txt_cpassword" id="txt_cpassword" placeholder="Enter the password again">
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">.
                    <button type="submit">Save</button>
                    <button type="reset">Reset</button>
                </td>
            </tr>
        </table>
    </form>
    {% if msg %}
    <script>
        alert("{{msg}}")
    </script>
    {% endif %}
</body>
</html>
{% endblock content %}
