{% extends 'Admin/Header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BRAND</title>
</head>
<body>
    <div class="container">
        <form id="form1" name="form1" method="post" action="">
            {% csrf_token %}
            <div class="row mb-3">
                <label for="txt_category" class="col-sm-2 col-form-label">CATEGORY</label>
                <div class="col mb-3">
                    <select name="txt_category" id="txt_category">
                        <option value="">-Select Category-</option>
                        {% for i in cis %}
                        <option value="{{i.id}}">{{i.category_name}}</option>
                       {% endfor %}
                    </select>
                </div>
                </div>
                <div class="row mb-3">
                    <label for="txt_scategory" class="col-sm-2 col-form-label">BRAND</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="txt_scategory" id="txt_scategory" value="{{scis.scategory_name}}" required/>
                    </div>
              
              
                    <div class="col mb-3">
                        <input type="submit" name="btn_save" id="btn_save" value="SAVE" class="btn btn-success" />
                    </div>
                </div>
        </form>
        <table class="table mt-3">
            <thead>
                <tr>
                    <th scope="col">SL.NO</th>
                    <th scope="col">CATEGORY</th>
                    <th scope="col">BRAND</th>
                    <th scope="row">DELETE</th>
                    <th scope="row">UPDATE</th>
                </tr>
            </thead>
            <tbody>
                {% for i in scat %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.category.category_name}}</td>
                    <td>{{i.scategory_name}}</td>
                    <td><a href="{% url 'xadmin:delscategory' i.id  %}" class="btn btn-danger">DELETE</a></td>
                    <td><a href="{% url 'xadmin:upscategory' i.id %}" class="btn btn-danger">UPDATE</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
{% if msg %}
        <script>
            alert('{{msg}}')
        </script>
        {% endif %}
</html>
{% endblock content %}




















        










